*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; }
body {
  font-family: 'Geist', ui-sans-serif, sans-serif;
  font-size: 16px;
  background: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.mono {
  font-family: 'Geist Mono', ui-monospace, monospace;
}
button { font-family: inherit; font-size: inherit; cursor: pointer; border: none; background: none; color: inherit; }
a { color: inherit; text-decoration: none; }
